@model List<CarrinhoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/form.css" />
</environment>

<h2>Produtos no carrinho</h2>

<br />

<table class="table table-responsive">
    
    <tr>
        <th>Produto</th>
        <th>Imagem</th>
        <th>Quantidade</th>
        <th>SubTotal</th>
    </tr>

    @foreach (var item in Model)
    {
	<tr>
		<td>@item.Id_Produto - @item.Nome</td>
		@*<td><img id="imgPreview" src="data:image/jpeg;base64,@item.ImagemEmBase64" class="img-responsive" width="50"></td>*@
		<td><img class="tamanho" src="data:image/jpeg;base64,@item.ImagemEmBase64"></td>
		<td>@item.Quantidade</td>
		<td>@item.TotalCompra()</td>
	</tr>
    }


</table>


<br />
<a href="/Carrinho/Index" class="btn btn-primary">Retornar para as compras</a>
<span class="text-danger">@ViewBag.Erro</span>
<br />
<br />
<a href="/Carrinho/EfetuarPedido" class="btn btn-success">Efetuar a compra!</a>
